<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Store</title>
    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/knockout-3.4.2.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>  
    @RenderSection("Scripts",false)    
</body>
</html>
