<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Store</title>
    <script src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/knockout-3.4.2.js"></script>
    <script src="~/css/bs/js/bootstrap.js"></script>
    <link href="~/css/bs/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bs/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/fa/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="#">
                <i class="fa fa-barcode"></i>
                THE STORE CORE
            </a>
    </div>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
</html>
